{% extends "layout.html" %}
{% block content %}
    <div class="pod_stats_header">
        <h1>My Pod Stats</h1>
        <p>Deck data loaded from the csv you passed in. Limited to {{ max_decks }} decks.</p>
    </div>
    <div class="house_stats">
        <table>
            <tr>
                <th>Sas</th>
                {% if not hide_set %}<th>Expansion</th>{% endif %}
                <th>House</th>
                <th>Deck</th>
                <th>Cards</th>
                <th>On Market</th>
                <th>Price</th>
            </tr>
            {% for pod in house_stats %}
                <tr>
                    <td>{{ pod.sas|round(1) }}</td>
                    {% if not hide_set %}<td>{{ pod.expansion }}</td>{% endif %}
                    <td>{{ pod.house }}</td>
                    <td>
                        <a href={{ pod.link }}>{{ pod.name }}</a>
                    </td>
                    {% if show_card_images %}
                        <td>{{ render_card_images(name_to_deck[pod.name], pod.house) | safe }}</td>
                    {% else %}
                        <td>{{ render_card_list(name_to_deck[pod.name], pod.house) | safe }}</td>
                    {% endif %}
                    <td>{{ pod.on_market }}</td>
                    <td>{{ pod.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
