{% extends "layout.html" %}
{% block content %}
    <div class="game_header">
        <h1>{{ game.winner }} versus {{ game.loser }}</h1>
        <p>{{ description }}</p>
        <p>Keys: {{ game.winner_keys }} - {{ game.loser_keys }}</p>
        <p>
            <a href="https://decksofkeyforge.com/compare-decks?decks={{ game.winner_deck.kf_id }}&decks={{ game.loser_deck.kf_id }}">Compare decks on DoK</a>
        </p>
    </div>
    <div class="game_player_summary">
        <h2>
            <a href="{{ url_for('ui.user', username=game.winner) }}">{{ game.winner }}</a> using <a href="{{ url_for('ui.deck', deck_id=game.winner_deck.kf_id) }}">{{ game.winner_deck.name }}</a>  <a game.
     href="https://keyforgegame.com/deck-details/{{ game.winner_deck.kf_id }}">MV</a>
            <a href="https://decksofkeyforge.com/decks/{{ game.winner_deck.kf_id }}">DOK</a>
        </h2>
        <h2>
            <a href="{{ url_for('ui.user', username=game.loser) }}">{{ game.loser }}</a> using <a href="{{ url_for('ui.deck', deck_id=game.loser_deck.kf_id) }}">{{ game.loser_deck.name }}</a>  <a game.
     href="https://keyforgegame.com/deck-details/{{ game.loser_deck.kf_id }}">MV</a>
            <a href="https://decksofkeyforge.com/decks/{{ game.loser_deck.kf_id }}">DOK</a>
        </h2>
    </div>
    <div class="visibility_checkbox">
        Show system messages: <input type="checkbox" id="show_system_messages">
    </div>
    <div class="logs">
        {% for log in game.logs %}
            {{ render_log(log) | safe }}
        {% endfor %}
    </div>
    <script type="text/javascript">
        $('.system_message').hide();
        $('#show_system_messages').click(function() {
            $('.system_message').toggle();
        })
    </script>
{% endblock %}
