{% extends "layout.html" %}
{% block content %}
    <div class="games_header">
        <h1>Record of games for {{ username }}</h1>
        <div class="games_summary">Games Search</div>
    </div>
    <form id="cleanform" method="get">
        <label for="user1">Player</label>
        <br />
        <input type="text"
               name="user1"
               {% if args["user1"] %} value="{{ args["user1"] }}"{% endif %}
               placeholder="Username"/>
        <br />
        <label for="user2">Player</label>
        <br />
        <input type="text"
               name="user2"
               {% if args["user2"] %} value="{{ args["user2"] }}"{% endif %}
               placeholder="Username"/>
        <br />
        <label for="deck1">Deck</label>
        <br />
        <input type="text"
               name="deck1"
               {% if args["deck1"] %} value="{{ args["deck1"] }}"{% endif %}
               placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"/>
        <br />
        <label for="deck2">Deck</label>
        <br />
        <input type="text"
               name="deck2"
               {% if args["deck2"] %} value="{{ args["deck2"] }}"{% endif %}
               placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"/>
        <br />
        <label for="sort1">Sort By</label>
        <br />
        <select id="sort1" name="sort1">
            <option value="date"{% if args["sort1"] == "date" %} selected{% endif %}>
                Date
            </option>
            <option value="loser_keys"
                    {% if args["sort1"] == "loser_keys" %} selected{% endif %}>
                Keys forged by loser
            </option>
        </select>
        <br />
        <label for="direction1">Order</label>
        <br />
        <select id="direction1" name="direction1">
            <option value="asc"{% if args["direction1"] == "asc" %} selected{% endif %}>
                Ascending
            </option>
            <option value="desc"{% if args["direction1"] == "desc" %} selected{% endif %}>
                Descending
            </option>
        </select>
        <br />
        <button type="submit">Submit</button>
    </form>
    <script type="text/javascript" src="{{ url_for("static", filename="cleanform.js") }}"></script>
    {% if games %}
        <div class="games_list">
            {% for game in games %}
                {{ render_game_listing(game) | safe }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
