<!doctype html>
<html>

    <head>
        <title>{% block title%}{{title}}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content={{description}}>
        <link rel="shortcut icon" href="/favicon.ico">
        {% block css %}
            <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        {% include "navigation.html" %}
        <div class="content">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </body>

</html>
