<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            {% block title %}{{ title }}{% endblock %}
        </title>
        <meta charset="utf-8" />
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="description" content="{{ description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ url_for('ui.home', _external=True) }}" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:image" content="https://ancientbearrepublic.com/abr.png" />
        {% block css %}
            <link href="{{ url_for("static", filename="css/style.css") }}"
                  rel="stylesheet" />
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        {% include "navigation.html" %}
        <div class="content">
            {% for message in get_flashed_messages() %}<div class="alert">{{ message }}</div>{% endfor %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
