<header>
    <nav>
        <a href="{{ url_for("ui.home") }}">Home</a>
        <a href="{{ url_for("ui.upload") }}">Upload Log</a>
        <a href="{{ url_for("ui.user_search") }}">User Search</a>
        <a href="{{ url_for("ui.games") }}">Games Search</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for("ui.profile") }}">Profile</a>
            <a href="{{ url_for("ui.logout") }}">Log Out</a>
        {% else %}
            <a href="{{ url_for("ui.signup") }}">Sign Up</a>
            <a href="{{ url_for("ui.login") }}">Log In</a>
        {% endif %}
    </nav>
</header>
