{% extends "layout.html" %}
{% block content %}
<p>Please consider supporting Bear Tracks on Patreon. Need no further convincing? <a href="https://www.patreon.com/AV8R772">Click here!</a></p>
<p>Why support?</p>
<ul>
    <li>You want Bear Tracks to stick around. Server costs are currently around $40/month, and could go up if more people use the site.</li>
    <li>You want Bear Tracks to get better. Currently this is a hobby project, and I have limited time to spend on it. If you want it to climb my list of priorities, show that it's high on yours!</li>
    <li>Access to future extra features. Please don't take any of these as promises, but here are some features I'd like to add in the future, specifically for supporters:
        <ul>
            <li>Alliance Pod searching and sorting</li>
            <li>Sync your owned decks from DoK</li>
            <li>Achievements</li>
            <li>Extended player statistics</li>
        </ul>
    </li>
</ul>
{% endblock %}
