{% extends "layout.html" %}
{% block content %}
    <div class="introduction">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
    </div>
    <div class="privacy_policy">
        <h2>Policy</h2>
        <ul>
            <li>
                Bear Tracks (tracker.ancientbearrepublic.com) is committed to
                sharing as much data about KeyForge online play as possible.
                Bear Tracks may collect and store some other information as well,
                for security and debugging purposes, which has nothing to do with
                the game played. Bear Tracks will not re-distribute that information
                unless for security purposes (and then we would publish an
                explanation), nor sell it for any reason.
            </li>
        </ul>
        <h2>Information collected</h2>
        <ul>
            <li>
                Information we intend to share and analyze as much as possible:
                anything relevant to understanding KeyForge play. Specifically, this
                includes but is not limited to: Usernames, deck ids and card
                content, crucible game id, time played, play decisions made, time
                between decisions, player chat log. We do not intend to sell
                this information, since we are already making it available for free.
                But, we may limit some analytical tools to paid supporters.
            </li>
            <li>
                Information we will not re-distribute or sell: any personal
                identifying information that is not relevant to the game.
                Specifically, this includes IP addresses.
            </li>
        </ul>
        <h2>Use of collected information</h2>
        <ul>
            <li>
                Bear Tracks may use personal information collected on the website and
                any related apps and/or browser extensions for purpose of sharing
                KeyForge game histories, and for analyzing KeyForge decks, cards,
                and strategy.
            </li>
            <li>
                Bear Tracks may modify and/or expunge some data at
                users' request, in order to avoid controversy. Such modifications
                are done entirely at administrators' discretion.
            </li>
            <li>
                Bear Tracks may modify and/or expunge data in bulk if it is
                determined to be, or likely to be, inaccurate. Such modifications
                are done entirely at administrators' discretion.
            </li>
            <li>
                Bear Tracks may use "cookies" in order to deliver content specific
                to users' interest, or to personalize users' experience on the site.
            </li>
        </ul>
        <h2>Distribution of collected information</h2>
        <ul>
            <li>
                Bear Tracks will distribute all game-related information on a
                regular basis via the website, and occasionally via bulk data dumps.
                Those data dumps will be made available for as long as feasible.
            </li>
        </ul>
        <h2>Individual Choice</h2>
        <ul>
            <li>
                Uploading of game information to Bear Tracks is entirely voluntary,
                and submission of data indicates acceptance of this policy.
            </li>
        </ul>
        <h2>
            Someone else uploaded a game they played with me, and I don't like it.
            What can I do about it?
        </h2>
        <ul>
            <li>
                First of all, rights to upload the data are the responsibility of
                the person doing the uploading. In general, we depend on them to
                have obtained logs and other information through appropriate,
                legal means. If we become aware that data was acquired illegally
                or inappropriately, we will remove it.
            </li>
            <li>
                While you do not have an inherent right to edit data someone else has
                acquired via appropriate and legal means, Bear Tracks reserves the
                right to modify data, and will maintain a list of usernames that
                will be replaced with "anonymous" upon upload. Addition to that
                list is not guaranteed, and is contingent upon providing sufficient
                evidence to administrators that you are the person who controls
                that username on thecrucible.online. Upon addition to the list,
                administrators will also modify all existing games in order to
                completely remove the username from our database. Unfortunately,
                this will not affect bulk data dumps that took place prior to
                the username's addition to the list. If you wish to be removed
                from the list in the future, we will make no attempts to
                restore anonymized data. It's a one-way change.
            </li>
        </ul>
    </div>
{% endblock %}
