{% extends "layout.html" %}
{% block content %}
    <div class="user_header">
        <h1>Record of games for {{ username }}</h1>
        <div class="games_summary">
            Total games played: {{ games_won + games_lost }} | Games won: {{ games_won }}
            ( {{ '%0.2f' | format(games_won / ( games_won + games_lost ) * 100) }}% )
        </div>
    </div>
    <div class="games_list">
        {% for game in games %}
            {{ render_game_listing(game, username=username) | safe }}
        {% endfor %}
    </div>
{% endblock %}
