nav {
    text-align: right;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.success {
    padding: 20px;
    margin: 5px;
    color: #000000;
    background-color: #b0ffd0;
}

.game_players {
    padding: 10px;
    margin: 5px;
    color: #000000;
    background-color: #b0ffd0;
}

.game_decks {
    padding: 10px;
    margin: 5px;
    color: #000000;
    background-color: #fff9bf;
}

.player_filter_inputs {
    display: grid;
    grid-template-columns: 150px 200px repeat(4, 60px);
    grid-gap: 10px;
}

.form_element label {
    display: block;
}

.form_element input {
    display: block;
}

.form_element input[type="number"] {
    width: 40px;
}

.hoverable_card {
    color: blue;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted blue;
}

.hoverable_card > img {
    display: none;
    width: 250px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.hoverable_card:hover > img {
    display: block;
}

.system_message {
    display: block;
    background-color: pink;
}

.cardplay {
    background-color: #b0ffd0;
}

.game_upkeep_message {
    background-color: yellow;
}

.turn_start_message {
    background-color: cyan;
}

.forged_key_message {
    background-color: gold;
}
